body,html {
	height: 100%;
    margin: 0;
}

h1 {
	font-size:5em;
	font-family:'Noto Sans', sans-serif;
	letter-spacing:0.5em;
}

h2 {
	font-size:2em;
	font-family:'Noto Sans', sans-serif;
	letter-spacing:2px;
}

h3 {
	font-size:0.9em;
	font-family:'Noto Sans', sans-serif;
	font-weight: lighter;
}
	
.homegrid {
	display:grid;
	grid-template-columns:1fr 1fr 1fr;
	grid-template-rows: auto;
	grid-template-areas:
		" nav nav nav"
		" title title title"
		" . button . "
		"about character extras";
	background-image:url("images/homebackground3.jpg");
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	background-attachment: fixed;
	padding-bottom:5%;
}

.nav{
	grid-area:nav;
	display:flex;
	justify-content:space-between;
	color:white;
	margin:3em;
}

.nav a {
	font-size:0.6em;
	color:white;
	opacity:0.5;
	font-family: 'Noto Sans', sans-serif;
	text-decoration:none;
}

.nav a:hover{
	opacity:1;
}

.nav .icon {
	display: none;
}

.title{
	grid-area:title; 
	color:white;
	justify-self: center;
	margin-top:20%;
	opacity:0.8;
}

.arrow{
	grid-area:button;
	display: flex;
	justify-content: center;
	align-items: center ;
	margin-bottom:10%;
	opacity:0.4;
}

.arrow:hover{
	opacity:1.0;
}

.abouthome, .characterhome, .extrashome{
	margin:20% 3% 3% 3%;
	background-color:black;
	color:white;
	opacity:0.65;
	padding:7%;
	
}

.abouthome:hover{
	opacity:1.0
}


.abouthome img{
	width: 100%;
    height: auto;
}

.abouthome a{
	color:white;
	text-decoration:none;
	opacity:0.5;
	float:right;
	font-size:1em;
	font-family:'Noto Sans', sans-serif;
	letter-spacing:0.8em;
}

.abouthome > a:hover{
	color:white;
	text-decoration:none;
	opacity:1.0;
}

.characterhome img{
	width: 100%;
    height: auto;
}


.characterhome a{
	color:white;
	text-decoration:none;
	opacity:0.5;
	float:right;
	font-size:1em;
	font-family:'Noto Sans', sans-serif;
	letter-spacing:0.8em;
}

.characterhome > a:hover{
	color:white;
	text-decoration:none;
	opacity:1.0;
}

.characterhome:hover{
	opacity:1.0
}


.extrashome img{
	width: 100%;
    height: auto;
}


.extrashome  a{
	color:white;
	text-decoration:none;
	opacity:0.5;
	float:right;
	font-size:1em;
	font-family:'Noto Sans', sans-serif;
	letter-spacing:0.8em;
}

.extrashome  > a:hover{
	color:white;
	text-decoration:none;
	opacity:1.0;
}

.extrashome:hover{
	opacity:1.0
}

.abouthome {
	grid-area:about;
}

.characterhome{
	grid-area:character;

}

.extrashome{
	grid-area:extras;
}

.charactergrid {
	display:grid;
	grid-template-columns:1fr 1fr 1fr;
	grid-template-rows: auto;
	grid-template-areas:
		" nav nav nav"
		" title title title"
		" . button . "
		" sherlock john moriarty"
		" mycroft hudson lestrade";
	background-image:url("images/characterbackground3.jpg");
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	background-attachment: fixed;
	padding-bottom:10%;
}

.sherlock , .john, .moriarty, .hudson, .mycroft, .lestrade img {
	width:auto;
    height: auto;
	
}

.sherlock , .john, .moriarty{
	color:white;
	padding:4em;
	text-align:center;
	margin-top:10em;
}

.hudson, .mycroft, .lestrade{
	color:white;
	padding:4em;
	text-align:center;
}

.sherlock {
	grid-area:sherlock;
}

/*.info1, .info2, .info3, .info4 , .info5, .info6{
	height: auto;
	max-width:100%;
	background-color:black;
	opacity:0.7;
	text-align:center;
	padding:5%;
}*/

.john {
	grid-area:john;
}

.moriarty {
	grid-area:moriarty;
}


.hudson {
	grid-area:hudson;
}


.lestrade {
	grid-area:lestrade;
	
}


.mycroft {
	grid-area:mycroft;
}

	

.aboutgrid {
	display:grid;
	grid-template-columns:1fr 1fr 1fr;
	grid-template-rows: auto auto auto ;
	grid-template-areas:
		" nav nav nav "
		" title title title "
		" . button . "
		" box box box"
		" list . . "
		" collapsible . . "
		" content . . "
		" collapsible2 . . "
		" content2 . . "
		" collapsible3 . . "
		" content3 . . "
		" collapsible4 . . "
		" content4 . . ";
	background-image:url("images/aboutbackground2.jpg");
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	background-attachment: fixed;
	padding-bottom:5%;
}


.box {
	grid-area:box;
	background-color:black;
	opacity: 0.55;
	margin:10% 10% 2% 10%;
	padding:3%;
	display:flex;
	justify-content:space-between;
	color:white;
	font-family:'Noto Sans', sans-serif;
	font-size:1em;
}

.info {
	text-align: justify;
	padding: 50px;
	width: 75%;
}

.trailer {
	text-align: center;
	margin: auto;
	float:right;
}

.trailer > iframe {
	max-width: 100%;
	max-height: 100%;
}

.list{
	grid-area:list;
	color:white;
	justify-self:center;
}

.collapsible, .collapsible2, .collapsible3, .collapsible4 {
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 18px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  width:75%;
  justify-self:end;
  font-family:'Noto Sans', sans-serif;
}

.collapsible {
	grid-area:collapsible;
}

.collapsible2 {
	grid-area:collapsible2;
}

.collapsible3 {
	grid-area:collapsible3;
}

.collapsible4 {
	grid-area:collapsible4;
}

.content, .content2 , .content3 , .content4 {
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 18px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  width:75%;
  justify-self:end;
  font-family:'Noto Sans', sans-serif;
  padding: 0 18px;
  display: none;
  overflow: hidden;

  
}

.content {
	grid-area:content;
}

.content2 {
	grid-area:content2;
}

.content3 {
	grid-area:content3;
}

.content4 {
	grid-area:content4;
}

.active, .collapsible:hover {
  background-color: #ccc;
}

.active2, .collapsible2:hover {
  background-color: #ccc;
}

.active3, .collapsible3:hover {
  background-color: #ccc;
}

.active4, .collapsible4:hover {
  background-color: #ccc;
}

.collapsible:after {
    content: '\02795'; 
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}

.collapsible2:after {
    content: '\02795'; 
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}

.collapsible3:after {
    content: '\02795'; 
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}

.collapsible4:after {
    content: '\02795';
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}

.active:after {
content: "\2796"; 
}

.active2:after {
content: "\2796"; 
}

.active3:after {
content: "\2796"; 
}

.active4:after {
content: "\2796"; 
}

.extrasgrid {
	display:grid;
	grid-template-columns:1fr 1fr 1fr;
	grid-template-rows: auto;
	grid-template-areas:
		" nav nav nav"
		" title title title"
		" button button button";
	background-image:url("images/extrasbackground2.jpg");
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	background-attachment: fixed;
}

* {
  box-sizing: border-box;
}

.light-box {
	background-color: black;
	margin: -30px;
	padding-top:30px;
	text-align: center;
	padding-bottom: 50px;
}

.row > .column {
  padding: 10px;
  margin:10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}


.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.mySlides > img {
	max-height: 100%;
	margin-left: auto;
    margin-right: auto;
    display: block;
}

.mySlides {
	height: 550px;
	background-color: black;
}

.column > img {
	max-height: 100%;
	margin-left: auto;
    margin-right: auto;
    display: block;
}

.column {
	height: 200px;
	display: inline-block;
	padding: 0px 25px;
}

.column-container {
    display: block;
    text-align: center;
    background-color: black;
}

.art {
	height: 500px;
}

.down{
	background-color:none;
    animation-name: example;
    animation-duration: 4s;

}

/* Standard syntax */
@keyframes example {
    0%   {background-color: white;}
    25%  {background-color:black;}
	50%   {background-color: white;}
    100%  {background-color:black;}
    
}

i {
  border: solid white;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 30px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}