body,html {
	height: 100%;
    margin: 0;
    background-color: black;
}

h1 {
	font-size:3em;
	font-family:'Noto Sans', sans-serif;
	letter-spacing:0.5em;
}

h2 {
	font-size:2em;
	font-family:'Noto Sans', sans-serif;
	letter-spacing:2px;
}

h3 {
	font-size:0.8em;
	font-family:'Noto Sans', sans-serif;
	font-weight: lighter;
}
.homegrid {
	display:grid;
	grid-template-columns:1fr 1fr 1fr;
	grid-template-rows: auto;
	grid-template-areas:
		" nav nav nav"
		" title title title"
		" . button . "
		" about about about "
		" character character character  "
		" extras extras extras ";
	align-items:center;
	background-image:url("images/homebackground3.jpg");
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	background-attachment: fixed;
}

.nav{
	grid-area:nav;
	display:flex;
	justify-content:space-between;
	color:white;
	margin:3em;
	display:inline-block;
}

.nav a {
	font-size:0.6em;
	color:white;
	opacity:0.5;
	font-family: 'Noto Sans', sans-serif;
	text-decoration:none;
}

.nav a:hover{
	opacity:1;
}

.nav .icon {
	display: none;
}

@media screen and (max-width: 750px) {
	.nav a:not(:first-child)
	{
		display:none;
	}
	
	.nav a.icon {
		display: inline-block;
    	float: right;
		font-size:1.5em;
	}
}

@media screen and (max-width: 750px) {
	.nav.responsive {
		display: flex;
		flex-flow: column nowrap;
	}
	
	.nav.responsive .icon {
		position: absolute;
		right: 48px;
		font-size:1.5em;
	}
	
	.nav.responsive a{
		display:block;
		
	}
}

.title{
	grid-area:title; 
	color:white;
	justify-self: center;
	margin-top:50%;
	opacity:0.8;
}

.arrow img{
	height:4em;
}

.arrow{
	grid-area:button;
	display: flex;
	justify-content: center;
	align-items: center ;
	margin-bottom:230px;
	opacity:0.8;
}

.arrow:hover{
	opacity:1.0;
}

.abouthome, .characterhome, .extrashome{
	margin:5%;
	background-color:black;
	color:white;
	opacity:0.8;
	padding:7%;
	
}

.abouthome img{
	width: 100%;
    height: auto;
}

.abouthome a{
	color:white;
	text-decoration:none;
	opacity:0.5;
	float:right;
	font-size:1em;
	font-family:'Noto Sans', sans-serif;
	letter-spacing:0.7em;
}

.abouthome > a:hover{
	color:white;
	text-decoration:none;
	opacity:1.0;
}

.characterhome img{
	width: 100%;
    height: auto;
}

.characterhome a{
	color:white;
	text-decoration:none;
	opacity:0.5;
	float:right;
	font-size:1em;
	font-family:'Noto Sans', sans-serif;
	letter-spacing:0.7em;
}

.characterhome > a:hover{
	color:white;
	text-decoration:none;
	opacity:1.0;
}

.extrashome img{
	width: 100%;
    height: auto;
}

.extrashome a{
	color:white;
	text-decoration:none;
	opacity:0.5;
	float:right;
	font-size:1em;
	font-family:'Noto Sans', sans-serif;
	letter-spacing:0.7em;
}

.extrashome a:hover{
	color:white;
	text-decoration:none;
	opacity:1.0;
}


.abouthome {
	grid-area:about;
}
	

.characterhome{
	grid-area:character;

}

.extrashome{
	grid-area:extras;
}

.charactergrid {
	display:grid;
	grid-template-columns:1fr 1fr 1fr;
	grid-template-rows: auto;
	grid-template-areas:
		" nav nav nav "
		" title title title"
		" . button . "
		" lightbox lightbox lightbox";
	background-image:url("images/characterbackground3.jpg");
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	background-attachment: fixed;
}

/*.sherlock {
	grid-area:sherlock;
	color:white;
	padding:2em;
	margin-top:10px;
	justify-self:center;
}

.sherlock img {
	height:25em;
	
}

.info1, .info2, .info3, .info4 , .info5, .info6{
	width:25em;
	background-color:black;
	opacity:0.7;
	text-align:center;
	padding:8%;
}

.john {
	grid-area:john;
	color:white;
	padding:4em;
	text-align:center;
	margin-top:10px;
	justify-self:center;
}

.john img {
	height:25em;
	
}


.moriarty {
	grid-area:moriarty;
	color:white;
	padding:4em;
	text-align:center;
	margin-top:10px;
	justify-self:center;
}

.moriarty img {
	height:25em;
	
}


.hudson {
	grid-area:hudson;
	color:white;
	padding:4em;
	text-align:center;
	justify-self:center;
}

.hudson img {
	 height:25em;
	
}

.lestrade {
	grid-area:lestrade;
	color:white;
	padding:4em;
	text-align:center;
	justify-self:center;
	
}

.lestrade img {
	height:25em;
	
}

.mycroft {
	grid-area:mycroft;
	color:white;
	padding:4em;
	text-align:center;
	justify-self:center;
	
}

.mycroft img {
	 height:25em;
}*/


.aboutgrid {
	display:grid;
	grid-template-columns:1fr 1fr 1fr;
	grid-template-rows: auto;
	grid-template-areas:
		" nav nav nav "
		" title title title "
		" . button . "
		" box box box"
		" . list . "
		" wrapper wrapper wrapper"
		". quiz . "
		/*" collapsible collapsible collapsible "
		" content content content "
		" collapsible2 collapsible2 collapsible2 "
		" content2 content2 content2 "
		" collapsible3 collapsible3 collapsible3 "
		" content3 content3 content3 "
		" collapsible4 collapsible4 collapsible4 "
		" content4 content4 content4 "*/;
	background-image:url("images/aboutbackground2.jpg");
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	background-attachment: fixed;
	justify-content:space-between;
	padding-bottom:10%;
}


.box {
	grid-area:box;
	background-color:black;
	opacity: 0.55;
	align-self:center;
	margin:5%;
	padding:5%;
	color:white;
	font-family:'Noto Sans', sans-serif;
	text-align:center;
	font-size:1em;
	display:flex;
	flex-direction:column;
}

.info {
	text-align: justify;
	width: 100%;
	padding: 20px;
}

.trailer {
	text-align: center;
	margin: auto;
}

.trailer > iframe {
	max-width: 100%;
	max-height: 100%;
}

.list{
	grid-area:list;
	color:white;
	font-size:0.7em;
	justify-self:center;
	
}

.collapsible, .collapsible2, .collapsible3, .collapsible4 {
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 18px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  width:75%;
  justify-self:center;
  font-family:'Noto Sans', sans-serif;
}

/*.collapsible{
	grid-area:collapsible;
}

.collapsible2 {
  grid-area:collapsible2; 
}

.collapsible3{
	grid-area:collapsible3;
}

.collapsible4 {
	grid-area:collapsible4;
}*/

.content, .content2 , .content3 , .content4 {
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 18px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  width:75%;
  justify-self:center;
  font-family:'Noto Sans', sans-serif;
  padding: 0 18px;
  display: none;
  overflow: hidden;
  
}

/*.content {
	grid-area:content;
}

.content2 {
	grid-area:content2;
}

.content3 {
	grid-area:content3;
}

.content4 {
	grid-area:content4;
	margin-bottom:10%;
}*/


.wrapper {
	grid-area:wrapper;
}

.active, .collapsible:hover {
  background-color: #ccc;
}

.active2, .collapsible2:hover {
  background-color: #ccc;
}

.active3, .collapsible3:hover {
  background-color: #ccc;
}

.active4, .collapsible4:hover {
  background-color: #ccc;
}

.collapsible:after {
    content: '\02795'; 
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}
.collapsible2:after {
    content: '\02795'; 
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}
.collapsible3:after {
    content: '\02795'; 
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}
.collapsible4:after {
    content: '\02795'; 
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}

.active:after {
	content: "\2796"; 
}

.active2:after {
	content: "\2796"; 
}

.active3:after {
	content: "\2796"; 
}

.active4:after {
	content: "\2796";
}

.extrasgrid {
	display:grid;
	grid-template-columns:1fr 1fr 1fr;
	grid-template-rows: auto auto auto;
	grid-template-areas:
		" nav nav nav "
		" title title title "
		" . button . "
		" lightbox lightbox lightbox";
	background-image:url("images/extrasbackground2.jpg");
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	background-attachment: fixed;
}

* {
  box-sizing: border-box;
}


.light-box {
	background-color: none;
	margin: -30px;
	padding-top:30px;
	text-align: center;
	padding-bottom: 50px;
	grid-area:lightbox;
	margin-top:10%;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer
}

.prev,.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 30px 0px;
  color: white;
  font-family:'Noto Sans', sans-serif;
  font-size:0.9em;

}

}

.demo {
  opacity: 0.6;
}

.active, .demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s
}

.hover-shadow:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19)
}

.mySlides > img {
	max-height: 100%;
	margin-left: auto;
    margin-right: auto;
    display: block;
}

.mySlides {
	height: 400px;
	background-color: black;
}

.column > img {
	max-height: 100%;
	margin-left: auto;
    margin-right: auto;
    display: block;
}

.column {
	height: 100px;
	display: inline-block;
	padding: 0px 10px;
}

.column-container {
    display: block;
    text-align: center;
    background-color: black;
}

.art {
	height: 500px;
}

@keyframes down {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.75;
  }
  50% {
    opacity: 0.50;
  }
  75% {
    opacity: 0.25;
  }
}

@-webkit-keyframes down {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.75;
  }
  50% {
    opacity: 0.50;
  }
  75% {
    opacity: 0.25;
  }
}

.down {
  animation: down 2.8s ease 0s 10;
  -webkit-animation: down 2.8s ease 0s 10;
}

i {
  border: solid white;
  border-width: 0 6px 6px 0;
  display: inline-block;
  padding: 30px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
	
